@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

#card {
    width: 300px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

img {
    border-radius: 50%;
    margin: 0 auto;
}

h2{
    color: #B6BC60;
    font-family: "Freeman", sans-serif;
}